body{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    background: #eaffae;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}
div .ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #0074ba;
    font-size: 2em;
    background: transparent;
    animation: ring 2s linear infinite ;

}
div .text
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #262626;
    position: absolute;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    animation: rocket 2s linear infinite ;

}

@keyframes ring {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg) ;
    }
}

@keyframes rocket {
    0%
    {
        transform: rotate(260deg);
    }
    100%
    {
        transform: rotate(0deg) ;
    }
}