body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  .pendulum {
    display: flex;
    border-top: 8px solid #354d4e;
  }
  
  .pendulum span {
    width: 3px;
    height: 300px;
    background-color: #354d4e;
    margin: 0 29px;
    position: relative;
    transform-origin: top;
  }
  
  .pendulum span:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #354d4e;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .pendulum span:first-child {
    animation: left-arm 2s ease-in infinite;
     
  }

  .pendulum span:first-child::before {
    animation: first-ball-color-change 2s linear infinite 1s;
  }

  .pendulum span:last-child::before {
    animation: last-ball-color-change 2s linear infinite 1s;
  }
  
  .pendulum span:last-child {
    animation: right-arm 2s ease-in infinite 1s;
  }

  @keyframes left-arm {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(60deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes right-arm {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-60deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes first-ball-color-change {
    10% {background-color: #354d4e}
    50% {background-color: #354d4e}
    51% {background-color: #FF0000}
    100% {background-color: #FF0000;}
  }
  @keyframes last-ball-color-change {
    10% {background-color: #F7F;}
    50% {background-color: #F7F}
    51% {background-color: #354d4e}
    100% {background-color: #354d4e}
  }