@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
    --background-color: #ebf4f5;
    --font-color: #002654;
    --red: #e60611;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow: hidden;
  }

.text-box {
    display: flex;
    /* width: 40%; */
    /* background-color: #F7F; */
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-box h2{
    font-size: 8rem;
    color: var(--font-color);
    /* letter-spacing: 1rem; */
    line-height: 1.1em;
    letter-spacing: -0.045em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.text-box h2:hover::before{
    /* color: var(--red); */
    transition: 1s linear;
    /* color: var(--red); */
    width: 100%;

}

.text-box h2::before 
{
    content: "Gratitude";
    position: absolute;
    top: 0%;
    left: 0%;
    color: #00d26a;
    width: 0%;
    overflow: hidden;
    transition: all 0.6s;
}


.text-box span::after {
    content: "🍀";
    font-size: 8rem;
    position: relative;
    bottom: 0;
    /* width: 60px; */
    /* height: 60px; */
    margin-left: 1rem;
    margin-bottom: 2rem;
    /* background-color: #073b4c; */
    border-radius: 50%;
    transform: translateX(-50%);
    animation: emojis 2s linear infinite;
  }

   @keyframes emojis {

    50%{
        content: "🌻";
    }

  }