@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    outline:0; 
    border:none;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background: none;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 100px;
    cursor: pointer;
    border: 2px #101832 solid;
    font-size: 1.4em;
    transition:all .3s ease-out; 
    border-radius: 10px;
    box-shadow:inset 0 -8px 0 0 rgba(16,24,50, .2),
    1px 1px 0 0 #101832,
    2px 2px 0 0 #101832,
    3px 3px 0 0 #101832,
    4px 4px 0 0 #101832,
    5px 5px 0 0 #101832,
    6px 6px 0 0 #101832,
    7px 7px 0 0 #101832,
    8px 8px 0 0 #101832,
    9px 9px 0 0 #101832,
    10px 10px 0 0 #101832,
    11px 11px 0 0 #101832,
    12px 12px 0 0 #101832;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #101832;
    z-index: -1;
    height: 0%;
    transition: all 0.5s;
  }

.btn:hover::before {
height: 190%;
}

.btn:hover{
    color: #CCC;
}
.btn:active {
    color: #CCC;
    transition: .2s ease-in-out;
    /* animation: .6s rot infinite ; */
}

button:active{
    color:#FFF !important;
    border: 6px #101832 solid;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 #101832,
        2px 2px 0 0 #101832,
        3px 3px 0 0 #101832,
        4px 4px 0 0 #101832,
        5px 5px 0 0 #101832;
}


@keyframes rot {
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
}
